.paperimage {
    border: 1px solid #787878;
    min-width: 100px;
    max-width: 100px;
    min-height: 70px;
    max-height: 100px;
    margin-right: 20px;
}

a:hover, a:focus {
  text-decoration: underline;
}


hr {
  border: solid #dddddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.25em 0 1.1875em;
  height: 0;
}

.papertitle {
  color:black;
  font-weight:500;
  font-size:105%;
  font-weight: bold;
}
.side-nav {
  position: fixed;
}

.row {
  max-width:1000px;
}

.papers td {
    vertical-align: top;
    padding-left: 0px;
    margin-bottom: -10px;
}

.papers table {
    margin-bottom: -10px;
}

.panel {
  /*background: #fefefe;*/
  border-color: #e6e6e6;
}

p {
    font-size:16px;
    font-weight:300;
    line-height: 24px;
    font-family:Helvetica;
}

.tabs {
  border: none;
  border-bottom: solid 1px #e6e6e6;
}

.tabs-content {
  border: solid 1px #e6e6e6;
  border-top: none;
  border-bottom: none;
}

.tabs-section {
  border-bottom: solid 1px #e6e6e6;
}

.tabs-title {
    border: solid 1px #e6e6e6;
    height: 61px; }
    .tabs-title > a {
      display: block;
      padding: 1.25rem 1.5rem;
      line-height: 1;
      font-size: 0.75rem;
      background: #f2f2f2;
      text-decoration: none;
    }
    .tabs-title > a:focus, .tabs-title > a[aria-selected='true']{
      background: #fefefe;
      border-bottom: solid 1px #fefefe;
    }


td {
    font-weight:300;
}



table {
background: white;
  margin-bottom: 1.25em;
  border: solid 1px #dddddd; }
  table thead,
  table tfoot {
    background: whitesmoke;
    font-weight: bold; }
    table thead tr th,
    table thead tr td,
    table tfoot tr th,
    table tfoot tr td {
      padding: 0.5em 0.625em 0.625em;
      font-size: 0.875em;
      color: #222222;
      text-align: left; }
  table tr th,
  table tr td {
    padding: 0.5625em 0.625em;
    font-size: 0.875em;
    color: #222222; }
  table tr.even, table tr.alt, table tr:nth-of-type(even) {
    background: #f9f9f9; }
  table thead tr th,
  table tfoot tr th,
  table tbody tr td,
  table tr td,
  table tfoot tr td {
    display: table-cell;
    line-height: 1.125em; }

/* Image Thumbnails */
.th {
  line-height: 0;
  display: inline-block;
  border: solid 4px white;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  transition: all 200ms ease-out; }
  .th:hover, .th:focus {
    -webkit-box-shadow: 0 0 6px 1px rgba(43, 166, 203, 0.5);
    box-shadow: 0 0 6px 1px rgba(43, 166, 203, 0.5); }
  .th.radius {
    -webkit-border-radius: 3px;
    border-radius: 3px; }

a.th {
  display: inline-block;
  max-width: 100%; }
